@{
    ViewData["Title"] = "Login Page";
}
<div>
    <form method="post" action="/Home/Authorise">
        <div>
            Login:
            <input type="text" name="userName"/>
        </div>
        <div>
            Password:
            <input type="password" name="password"/>
        </div>
        <input type="submit" />
    </form>
</div>